<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <base href="<%=basePath%>">
    <title>searchUser</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="res/search/searchUser.css">

</head>

<body>
<div th:include="/headerFooter/header :: html"></div>
<div class="container">
    <div class="search-con">
        <div>
            <span class="alert alert-info">相关用户</span>
        </div>
        <div class="user-con">
            <!-- 用户 -->
            <table>
                <tbody>
                <tr th:each="u:${users}">

                    <td class="alert alert-warning">
                        <div class="per-user">
                            <div>
                                <a th:href="@{'/userIndex?userID='+${u.userID}}" th:text="${u.userName}"></a>
                            </div>
                            <div th:text="${u.introduction}"></div>
                        </div>

                    </td>
                </tr>

                </tbody>
            </table>


        </div>

    </div>

</div>

<div th:include="/headerFooter/footer :: html"></div>


<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script>

</script>
</body>

</html>