<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>searchArticle</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="res/search/searchArticle.css">

</head>

<body>
<div th:include="/headerFooter/header :: html"></div>
<div class="container">
    <div class="search-con">
        <div class="con-middle-article">
            <div class="blog" th:each="a:${articles}">
                <div class="blog-left">
                    <a class="blog-title"
                       th:href="@{'/showArticle?articleID='+${a.articleID}}" th:text="${a.articleTitle}"></a>
                    <div class="blog-con" th:utext="${a.content}">
                    </div>
                    <div class="blog-bottom">
                        <a class="userInfoID"
                           th:href="@{'userIndex?userID='+${a.user.userID}}" th:text="${a.user.userName}"></a>
                        <span class="blog-comment">评论<span></span></span>
                        <span class="launch-time" th:text="${a.launchTime}"></span>
                    </div>
                </div>
                <div class="blog-right">
                    <img src="" alt="" class="blog-photo">
                </div>
            </div>
            <hr>

            <div class="loading-parent">
                <div class="loading">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>

        </div>

    </div>
</div>

<div th:include="/headerFooter/footer :: html"></div>


<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="res/search/searchArticle.js"></script>
</body>

</html>