<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>userIndex</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="res/user/userIndex/userIndex.css">
</head>

<body>
<div>
    <div th:include="/headerFooter/header :: html"></div>
</div>

<div class="container">
    <div class="con-left">
        <!-- user -->
        <div class="user-inf">
            <div></div>
            <div class="user-photo">
                <img src="image/sanyecao.jpg" alt="">
            </div>
            <div class="user-inf-more">
                <div class="user-name">
                    <span class="userID" th:text="${user.userName}"></span> <span>加入时间：<span
                        class="join-time" th:text="${user.registerTime}"></span></span>
                </div>
                <div class="article-inf">
                    <!--                    <c:set value="0" var="totalWords"/>-->
                    <!--                    <c:forEach items="${articleList}" var="p" varStatus="vs">-->
                    <!--                        <c:set value="${totalWords+p.articleContent.length()}"-->
                    <!--                               var="totalWords"/>-->
                    <!--                    </c:forEach>-->

                    <span class="ml-2">文章数：</span><span th:text="${articles.size()}"></span>
                    <!--                    <span class="ml-4">总字数：</span><span>${totalWords}</span>-->
                </div>
            </div>
        </div>

        <!-- article -->
        <div class="article-part">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active"
                                        data-toggle="tab" href="#article-all">文章</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                        href="#lastestComment">最新评论</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="article_all" class="container tab-pane active">
                    <br>
                    <div class="article-per" th:each="article:${articles}">
                        <div class="article-per-con">
                            <a th:href="'showArticle?articleID='+${article.articleID}"
                               th:text="${article.articleTitle}">
                                <span class="badge badge-primary" th:text="${article.type.typeName}"></span>
                            </a>
                            <div class="articleCon" th:with="content=${article.content}">
                                <!--							需要完善-->
                                <span th:if="${#strings.length(content)>100}"
                                      th:utext="${#strings.substring(content,0,50)}"></span>
                                <span th:if="${#strings.length(content)<100}" th:utext="${content}"></span>
                            </div>
                            <div class="articleInfo">
                                <!--                                    <span>赞 ${p.supportNum }</span> <span>评论 ${p.commentNum }</span>-->
                                <span th:text="${article.launchTime}"></span>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>

                <div id="lastestComment" class="container tab-pane fade">
                    <br>

                </div>

            </div>

        </div>

    </div>
    <div class="con-right">
        <div>
            <div>自我介绍</div>
            <div th:text="${user.introduction}">
            </div>
        </div>
        <hr>
        <div>
            <div class="list-group left-typeName">
                <a href="userIndex?userID=${user.userID}"
                   class="list-group-item list-group-item-action">全部</a>

                <label class="list-group-item list-group-item-action">
                    <a
                            href="javascript:void(0)" th:each="type:${types}"> <input type="radio"
                                                                                      name="typeName"
                                                                                      th:value="${type.typeID}"
                                                                                      style="display: none;"> <span
                            th:text="${type.typeName}"><span
                            class="badge badge-info includeNum"></span> </span>
                    </a>
                </label>


            </div>

        </div>
    </div>

</div>


<div>
    <div th:include="/headerFooter/footer :: html"></div>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="res/user/userIndex/userIndex.js"></script>
</body>

</html>

