<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin index</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/res/admin/common/common.css">
    <link rel="stylesheet" href="/res/admin/index/index.css">

</head>

<body>
<div class="admin">
    <div class="admin-left">
        <div th:include="/admin/common/left:: html"></div>
    </div>

    <div class="admin-right">
        <div th:include="/admin/common/rightHeader:: html"></div>
        <div class="con">
            <div>
                <div>
                    <a th:href="@{'admin/adminWeb?web=normalUser'}">
                        <div>用户数：</div>
                        <div th:text="${users.size()}"></div>
                    </a>
                </div>
                <div>
                    <a th:href="@{'admin/adminWeb?web=manageUser'}">
                        <div>管理员数：</div>
                        <div th:text="${admins.size()}"></div>
                    </a>
                </div>
            </div>
            <div>

                <div>
                    <a th:href="@{'admin/adminWeb?web=article'}">
                        <div>文章数：</div>
                        <div th:text="${articles.size()}"></div>
                    </a>

                </div>
                <div>
                    <a th:href="@{'admin/adminWeb?web=type'}">
                        <div>文章类型数：</div>
                        <div th:text="${types.size()}"></div>
                    </a>

                </div>
            </div>
        </div>
    </div>

</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/res/admin/common/common.js"></script>
<script src="/res/admin/index/index.js"></script>

</body>

</html>
