<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>articleShow</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="res/article/articleShow.css">
    <link rel="stylesheet" href="res/article/comment.css">
    <link rel="stylesheet" href="res/article/support/Css/demo.css">
</head>

<body>

<div id="result"></div>
<div th:include="/headerFooter/header :: html"></div>
<div class="container">
    <div>
        <span class="articleID" style="display: none;" th:text="${article.articleID}"></span>
        <p class="article-title text-center p-2" th:text="${article.articleTitle}"></p>
        <p class="article-inf text-center">
            <a href="" th:text="${article.user.userName}"></a>
            <span>字数</span><span class="article_word">字数</span>
            <span class="article_time" th:text="${article.launchTime}"></span>
        </p>
    </div>
    <div class="pl-2 pr-2" th:utext="${article.content}"></div>
    <hr>
    <div class="article-oprate">
        <!-- 点赞 -->
        <!--        <div class="praise">-->
        <!--					<span id="praise"> <c:if test="${isSupport eq true }">-->
        <!--							<img src="../../static/article/support/Images/yizan.png"-->
        <!--                                 id="praise-img"/>-->
        <!--						</c:if> <c:if test="${isSupport eq false}">-->
        <!--							<img src="../../static/article/support/Images/zan.png"-->
        <!--                                 id="praise-img"/>-->
        <!--						</c:if>-->

        <!--					</span> <span id="praise-txt">${p.supportNum }</span> <span id="add-num"><em>+1</em></span>-->
        <!--        </div>-->

        <!-- 评论 -->

        <div>
            <div class="comment-icon">
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="out"></div>
                <div class="in"></div>
                <!--                <span>${p.commentNum }</span>-->
            </div>

        </div>

    </div>


    <div class="comment">
        <div class="alert-warning to-comment">
            <div>
                <input type="text" class=" form-control" placeholder="评论">
                <div>
                    <span class="words">0</span><span>/50</span>
                </div>
            </div>
            <div>
                <button class="btn btn-success sub" type="button">发布</button>
                <button class="btn btn-info cancel" type="button">取消</button>
            </div>
        </div>

        <div class="comment-con">
            <div class="per-c">
                <!--                    <div>${p.userID.userID}</div>-->
                <!--                    <div>-->
                <!--                        <div>${p.content}</div>-->
                <!--                        <div>${p.createTime}</div>-->
                <!--                    </div>-->


            </div>


        </div>

    </div>

</div>
<div th:include="/headerFooter/footer :: html"></div>


<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="res/article/support/support.js"></script>
<script src="res/article/articleShow.js"></script>


</body>
</html>
