<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div class="header  bg-dark" th:fragment="adminRightHeader">
    <div class="header-left">
        <nav class="navbar navbar-expand-sm navbar-dark"> <span
                class="change-icon"></span>
            <form class="form-inline">
                <input class="form-control" type="text" placeholder="Search">
                <button class="btn btn-success" type="button">Search</button>
            </form>
        </nav>
    </div>

    <div class="header-right">
        <nav class="navbar navbar-expand-sm navbar-dark"> <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="adminWeb?web=message">消息</a></li>

                <!-- Dropdown -->
                <li class="nav-item dropdown" th:if="${session.admin!=null}"><a
                        class="nav-link dropdown-toggle" href="#" id="navbardrop"
                        data-toggle="dropdown" th:text="${session.admin.adminUserName}">
                </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="adminWeb?web=center">个人资料</a>
                        <a class="dropdown-item"
                           href="adminLogout">退出</a>
                    </div>
                </li>
                <li class="nav-item" th:if="${session.admin==null}"><a class="nav-link" th:href="@{adminLogin}">登录</a></li>
            </ul>
        </nav>
    </div>
</div>

</html>

