<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>userCenterIndex</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet"
          href="res/user/userCenter/userCenterIndex/userCenterIndex.css">
    <link rel="stylesheet" href="/res/user/userCenter/userCenterCommon.css">


</head>
<body>
<div class="userCenterTop">
    <div th:include="/headerFooter/header :: html"></div>
</div>

<div class="userCenterCon">

    <div class="userCenterConLeft">
        <div th:include="/user/userCenter/userCenterCommon :: html"></div>
    </div>

    <div class="userCenterConRight">

        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active"
                                        data-toggle="tab" href="#personalData">个人资料</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                        href="#message">消息</a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="personalData" class="tab-pane active">

                <div class="change-status alert-danger text-center p-3">
                    <span class="change-status-con p-2 text-success font-weight-bold"></span><br>
                    <!--                    <span>马上刷新！</span>-->
                </div>

                <div class="user-information">

                    <div>
                        <a th:href="@{'userIndex?userID='+${user.userID}}" class="userindex-html">个人主页
                            <span class="right-arrow"></span>
                        </a>
                        <div class="welcomme-word">
                            <span>亲爱的</span> <span th:text="${user.userName}"></span> <span>你已加入Blog</span>
                            <span th:text="${days}"></span> <span>天了！</span>
                        </div>
                        <div class="register-time text-right">
                            <span>注册日期：</span><span class="" th:text="${user.registerTime}"></span>
                        </div>
                        <hr>
                    </div>
                    <div>
                        <div></div>
                        <div class="user-information-detail">
                            <table class="table table-hover table-bordered table-striped">
                                <tr>
                                    <td>登录名：</td>
                                    <td th:text="${user.userName}"></td>
                                </tr>
                                <tr>
                                    <td>姓名：</td>
                                    <td th:text="${user.name}"></td>
                                </tr>
                                <tr>
                                    <td>性别：</td>
                                    <td th:text="${user.gender}"></td>
                                </tr>
                                <tr>
                                    <td>出生日期：</td>
                                    <td th:text="${user.birth}"></td>
                                </tr>
                                <tr>
                                    <td colspan="2">描述信息：</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="origin-intro" th:text="${user.introduction}"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="">
                            <a href="javascript:void(0)" class="change-user-information">修改资料</a>
                        </div>
                    </div>

                    <div class="change_user_information-con alert-danger"
                         style="display: none">
                        <div class="">
                            <label>登录名： <input type="text" name="userID"
                                               class=" form-control" readonly="readonly"
                                               th:value="${user.userName}">
                            </label> <label>姓名： <input type="text" name="userName"
                                                       class=" form-control" th:value="${user.name}">
                        </label> <label>性别：
                            <input type="radio" name="gender" value="男" th:checked="${user.gender eq '男'}">男
                            <input type="radio" name="gender" value="女" th:checked="${user.gender eq '女'}">女<br>
                        </label>
                            <div>
                                <!--                                <span>出生日期：</span>-->
                                <!--                                <span class="hide-birth" style="display: none;">${user.birth}</span>-->
                                <!--                                <%@include file="../../../static/timeChoose/time.jsp"%>-->
                            </div>
                            <label for="introduction">描述信息：</label>
                            <div><span>原：</span><span th:text="${user.introduction}"></span></div>
                            <textarea name="introduction" id="introduction" cols="30"
                                      rows="10" class=" form-control"></textarea>
                            <div class="text-center">
                                <button type="button"
                                        class="btn btn-success m-1 pr-3 pl-3 submit-btn">确认
                                </button>
                                <button type="button"
                                        class="btn btn-secondary m-1 pr-3 pl-3 cancel-btn">取消
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="message" class="container tab-pane fade">消息</div>
        </div>

    </div>

</div>


<div class="userCenterBottom">
    <div th:include="/headerFooter/footer :: html"></div>
</div>


<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="res/user/userCenter/userCenterIndex/userCenterIndex.js"></script>

</body>
</html>
